@page "/"

<PageTitle>Index</PageTitle>

<h2>Hello</h2>

<h3>Welcome to my webpage, please log in by pressing the login button in top right corner</h3>

<table>
    <tbody class="tbody">
        <tr>
            <td>Username:</td>
            <td>user</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>password</td>
        </tr>
    </tbody>
</table>